doctype html 

html(lang="en")
  head
    title= Login
  body
    h1 #{user}
    form(action="/", method="get")
      input(type="hidden", name="_csrf", value=_csrf)
      button(id = 'main', type="submit") Main
    form(method='post' action='/user')
      input(type="hidden", name="_csrf", value=_csrf)
      input(type="hidden", name="user", value="#{user}")
      div Password
      input(type="password", name="password")
      input(type="submit", name="change", value="Change password")